#main-menu{
	width: 40%;
	min-height: 100%;
	background-color: #f2f2f2;
	position: relative;

	-webkit-transition: width 0.3s ease-out;
	-moz-transition: width 0.3s ease-out;
	-o-transition: width 0.3s ease-out;
	-ms-transition: width 0.3s ease-out;
	transition: width 0.3s ease-out;
	overflow: hidden;
}

#main-menu-resize{
	position: absolute;
	top: 0;
	right: 0;
	width: 3px;
	height: 100%;
	cursor: ew-resize;
}

#img-open-menu{
	-webkit-transition: opacity 0.3s ease-out;
	-moz-transition: opacity 0.3s ease-out;
	-o-transition: opacity 0.3s ease-out;
	-ms-transition: opacity 0.3s ease-out;
	transition: opacity 0.3s ease-out;
	position: fixed;
	z-index: 20;
	top: 5px;
	left: 5px;
}

a.main-menu-tasto:link, a.main-menu-tasto:visited{
	box-sizing: border-box;
	display: block;
	padding: 5px;
	line-height: 21px;
	cursor: pointer;
	font-size: 1.1rem;
	border-top: solid #EAEAEA 1px;
	border-bottom: solid #CDCDCD 1px;
	overflow: hidden;
	text-decoration: none;
	background-color: #FFF;
	color: #000;
}

a.main-menu-tasto.selected:link, a.main-menu-tasto.selected:visited{
	background-color: #71af71;
	color: #FFF;
}

.main-menu-cont > div{
	padding: 5px 0;
}

.cont-testo-menu{
	overflow: hidden;
	white-space: nowrap;
	vertical-align: middle;
}

a.main-menu-sub:link, a.main-menu-sub:visited{
	padding: 5px 0 5px 10px;
	white-space: nowrap;
	color: #000;
	display: block;
	cursor: pointer;
	text-decoration: none;
}

a.main-menu-sub:hover, .main-menu-sub.selected{
	background-color: rgba(113, 175, 113, 0.1);
	text-decoration: none;
}

.main-menu-sub img{
	vertical-align: middle;
}

@media screen and (max-width: 800px) {
	#main-menu {
		position: fixed;
		z-index: 1000;
		max-width: none;
	}

	#main-page-cont {
		width: 100% !important;
	}

	#results-table-count, #results-table-pages {
		float: none;
		text-align: center;
	}

	#results-table-count > div:first-of-type {
		display: block;
	}

	#toolbar {
		overflow-x: auto;
	}
}

@media screen and (min-width: 800px){
	a.main-menu-tasto:link, a.main-menu-tasto:visited{
		background-image: url('img/menu-icon.png');
		background-repeat: no-repeat;
		background-position: 10px center;
		padding: 10px;
		padding-left: 35px;
	}

	a.main-menu-tasto.selected:link, a.main-menu-tasto.selected:visited{
		background-image: url('img/menu-icon.png');
	}
}